SPRING_DATASOURCE_URL=jdbc:postgresql://db-service:5432/{{ db_name }}
SPRING_DATASOURCE_USERNAME={{ app_db_user }}
SPRING_DATASOURCE_PASSWORD={{ app_db_password }}
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
ROLLBACK_PIN_HASH={{ rollback_pin_hash }}
ROLLBACK_AGENT_URL=http://host.docker.internal:8790
ROLLBACK_AGENT_TOKEN={{ rollback_agent_token }}
